---
import { Icon } from "astro-icon/components";
---

<footer class="bg-[#8c3f95]">
  <div
    class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="text-white">
          <p class="text-sm font-semibold">
            <span class="text-4xl capitalize font-cursive">Agítalo Suave</span>
            <br />
            <span class="italic"
              >Explorando el mundo de los cócteles, a mi ritmo</span
            >
          </p>
        </div>
        <ul class="mt-8 flex gap-6">
          <li>
            <a
              href="https://www.facebook.com"
              rel="noreferrer"
              target="_blank"
              class="text-white transition hover:text-rose-200"
            >
              <span class="sr-only">Facebook</span>
              <Icon name="facebook" class="size-6" />
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com"
              rel="noreferrer"
              target="_blank"
              class="text-white transition hover:text-rose-200"
            >
              <span class="sr-only">Instagram</span>
              <Icon name="instagram" class="size-6" />
            </a>
          </li>

          <li>
            <a
              href="https://www.tiktok.com"
              rel="noreferrer"
              target="_blank"
              class="text-white transition hover:text-rose-200"
            >
              <span class="sr-only">TikTok</span>
              <Icon name="tiktok" class="size-6" />
            </a>
          </li>
        </ul>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-3"
      >
        <div>
          <p class="font-medium text-white">Blog</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                href="/recetas"
                class="text-white transition hover:text-rose-200"
                >Recetas
              </a>
            </li>
            <li>
              <a
                href="/bitacora"
                class="text-white transition hover:text-rose-200"
              >
                Bitácora
              </a>
            </li>
            <li>
              <a href="/tips" class="text-white transition hover:text-rose-200">
                Tips
              </a>
            </li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Acerca de</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                href="/legal/sobre-mi"
                class="text-white transition hover:text-rose-200"
                >Sobre mi
              </a>
            </li>
            <li>
              <a
                href="/contacto"
                class="text-white transition hover:text-rose-200"
                >Contacto
              </a>
            </li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Legal</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                href="/legal/politica-de-privacidad"
                class="text-white transition hover:text-rose-200"
              >
                Política de Privacidad
              </a>
            </li>

            <li>
              <a
                href="/legal/terminos-y-condiciones"
                class="text-white transition hover:text-rose-200"
              >
                Términos y Condiciones
              </a>
            </li>

            <li>
              <a
                href="/legal/exencion-de-responsabilidad"
                class="text-white transition hover:text-rose-200"
              >
                Exención de Responsabilidad
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-xs text-white">
      &copy; 2025. Made with ❤️ by an enthusiastic bartender
    </p>
  </div>
</footer>
