---
interface Link {
  text: string;
  url: string;
}

export interface Props {
  message: string;
  link: Link;
}

const { message, link } = Astro.props;
---

<div class="bg-background-alt px-6 py-2 text-gray-900">
  <p class="text-center font-medium">
    {message}
    <a href={link.url} class="inline-block underline"> {link.text} </a>
  </p>
</div>
