---
import { Icon } from "astro-icon/components";
import BlogCard from "./BlogCard.astro";
import { getCollection } from "astro:content";

interface Props {
  max?: number;
}

const { max = 3 } = Astro.props;
const { slug } = Astro.params;

const blogPosts = await getCollection("blog");
const blogEntries = blogPosts
  .filter((post) => post.slug !== slug?.split("/")[1])
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, max);
---

<section class="bg-background-alt">
  <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:flex md:items-end md:justify-between">
      <div class="max-w-xl">
        <h2
          class="text-4xl font-bold tracking-tight text-complementary sm:text-5xl"
        >
          Lo más reciente en el blog
        </h2>
      </div>

      <a
        href="/blog"
        class="mt-6 inline-flex shrink-0 items-center gap-2 rounded-sm border border-accent px-5 py-3 text-accent transition hover:bg-accent hover:text-white md:mt-0"
      >
        <span class="font-medium"> Leer más </span>

        <Icon name="arrow-right" class="w-5 h-5" />
      </a>
    </div>

    <div class:list={["mt-8 grid grid-cols-1 gap-4", `cols-sm-${max}`]}>
      {blogEntries.map((post) => <BlogCard post={post} />)}
    </div>
  </div>
</section>
