---
import "../styles/global.css";
import "../styles/blog.css";

import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Analytics from "../components/layout/Analytics.astro";
import BaseHead from "./BaseHead.astro";

interface Props {
  title: string;
  tags: string[];
  image: any;
  description: string;
}

const { title, description, tags, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- <Analytics /> -->
    <BaseHead
      title={title}
      description={description}
      image={image}
      tags={tags}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
